/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .booking_menu {
        width: 100%;
    }
    .booking_menu li a {
        padding: 6px 15px;
    }
    .address_box_main {
        width: 100%;
        display: block;
    }
    .korem_text {
        width: 100%;
    }
    .dummy_text {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .booking_menu {
        width: 100%;
    }
    .booking_menu li a {
        padding: 6px 15px;
    }
    .address_box_main {
        width: 100%;
        display: block;
    }
    .korem_text {
        width: 100%;
    }
    .box_main {
        padding: 10px 10px;
    }
    .dummy_text {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 10px 40px 0px 0px;
        text-align: center;
    }
    .banner_section {
        background-size: cover;
    }
    .booking_menu {
        width: 100%;
        float: left;
        text-align: left;
    }
    .address_box_main {
        display: block;
    }
    .booking_menu li {
        margin: 10px 0px;
    }
    .booking_menu li a {
        float: none;
        margin: 10px 0px;
    }
    .footer_text {
        padding-top: 30px;
    }
    .footer_section {
        padding: 40px 0px;
    }
    .image_1 img {
        width: 100%;
    }
    .box_main {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding: 15px 0px;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        margin: 10px 40px 0px 0px;
        text-align: center;
    }
    .banner_section {
        background-size: cover;
    }
    .booking_menu {
        width: 100%;
        float: left;
        text-align: left;
    }
    .address_box_main {
        display: block;
    }
    .booking_menu li {
        margin: 10px 0px;
    }
    .booking_menu li a {
        float: none;
        margin: 10px 0px;
    }
    .footer_text {
        padding-top: 30px;
    }
    .footer_section {
        padding: 40px 0px;
    }
    .image_1 img {
        width: 100%;
    }
    .box_main {
        margin-top: 30px;
    }
}